
<h1>Exercises_have_Equipment Entity</h1>
<table id = "entity-table">
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>	
	</tbody>
</table>
</div>
<form id="add-entity-form" method="POST" action="/add-entity-form">

	<label for="input-entity-name">Equipment Name: </label>
	<input type="text" name="input-entity-name" id="input-entity-name" minlength="3" maxlength="50">

	<label for="input-entity2">Search: </label>
	<input type="submit">
</form>

<form id="add-entity-form" method="POST" action="/add-entity-form">

	<label for="input-entity-name">Exercise Name: </label>
	<input type="text" name="input-entity-name" id="input-entity-name" minlength="3" maxlength="50">

	<label for="input-entity2">Search: </label>
	<input type="submit">
</form>
<script src="../update_data.js"></script>

<form id="edit-entity-form" method="POST" action="/edit-entity-form">
	{{!-- dynamic drop down--}}
	<select name="input-entity2" id="input-entity2-html" onchange="fetchEntityData()">
		<option value="">Select Equipment</option>
		{{#each data}}
		<option value="{{this.equipment_id}}">{{this.equipment_name}}</option>
		{{/each}}
	</select>

	<label for="input-entity-name">Equipment Name: </label>
	<input type="text" name="input-entity-name" id="input-entity-name" minlength="3" maxlength="50">
			
	<input type="submit">
</form>

<form id="edit-entity-form" method="POST" action="/edit-entity-form">
	{{!-- dynamic drop down--}}
	<select name="input-entity2" id="input-entity2-html" onchange="fetchEntityData()">
		<option value="">Select Exercise</option>
		{{#each data}}
		<option value="{{this.exercise_id}}">{{this.exercise_name}}</option>
		{{/each}}
	</select>

	<label for="input-entity-name">Exercise Name: </label>
	<input type="text" name="input-entity-name" id="input-entity-name" minlength="3" maxlength="50">
			
	<input type="submit">
</form>
